<style>
  .{{ ct.id }} {
    color: {{ ct.text_color }};
  }

  .{{ ct.id }} .mj-copy-text__text {
    text-shadow: 1px {{ ct.text_color }};
  }

  {% if ct.use_background %}
    .{{ ct.id }}:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: {{ ct.image_opacity }};
      background-image: url('{{ ct.image }}');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  {% endif %}
</style>

<div class="mj-copy-text">
  <div class="{{ ct.id }}">
    <div class="mj-copy-text__text mj-copy-text__{{ ct.text_width }}">
      {{ ct.text }}
    </div>
  </div>
</div>
